<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:object = "${persona}" method = "post" action = "#"
													th:action = "@{/ejemploformulario/aniadirpersona}">
		<p> Nombre: <input type = "text" th:field=*{nombre}></p>
		<p> Apellidos: <input type = "text" th:field=*{apellidos}></p>
		
		<p> Edad: <input type = "text" th:field=*{edad}></p>
		<p> DNI: <input type = "text" th:field=*{DNI}></p>
		
		<p><input type = "submit" value = "Aceptar"></p>
	</form>
	<!-- ad -->
</body>
</html>